.notes {
  &__actions {
    padding: 0 30px 5px 5px;
    text-align: end;

    button {
      letter-spacing: 0.05em;
      margin-right: 5px;
      color: $white;
    }
  }

  &__archive {
    background: $archive-main;
  }

  &__add {
    background: $add;
  }
}
