@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto", sans-serif;
  }

  button {
    @apply inline-block text-center align-middle font-normal border-none 
    outline-none cursor-pointer disabled:opacity-75;
  }

  input,
  select {
    @apply block w-full text-base font-normal border border-solid border-gray-400 
    rounded-md outline-none bg-clip-padding bg-white text-dark py-1.5 px-3;
  }
}

@layer components {
  .form-error {
    @apply inline-block text-center text-sm text-error mt-1 mx-2;
  }

  .btn-small {
    @apply text-sm rounded py-1 px-2;
  }

  .btn-medium {
    @apply text-base rounded-md py-1.5 px-3;
  }

  .btn-large {
    @apply text-xl rounded-lg py-2 px-4;
  }

  .scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  .scroll::-webkit-scrollbar-thumb {
    background: theme(colors[gray-100]);
  }

  .scroll::-webkit-scrollbar-track {
    background: theme(colors.white);
  }
}
